<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/assetscss/custom.css" />
  </head>
  <body>
    {{ content }}

    <footer class="license">
      © 2025 Mamadou Cire Barry
      <br />
      Este curso se distribuye bajo la licencia
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0"
        >Creative Commons BY-NC-SA 4.0</a
      >
      <br />
      <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">
        <img
          src="https://licensebuttons.net/l/by-nc-sa/4.0/88x31.png"
          alt="Licencia CC BY-NC-SA 4.0"
        />
      </a>
    </footer>
  </body>
</html>
